.card__like-btn {
  margin: 0;
  width: 20px;
  height: 18px;
  outline: none;
  border: none;
  background: none;
  background-image: url(../../../images/like-btn_disabled.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  display: block;
  cursor: pointer;
  transition: opacity .1s, background-image .2s;
}

.card__like-btn:hover {
  opacity: .5;
}